/* 전체 애플리케이션에 Roboto 폰트 적용 */
body {
    font-family: 'Roboto', sans-serif;
}

/* PrimeReact 기본 컴포넌트 폰트 설정 */
.p-component {
    font-family: 'Roboto', sans-serif;
}

body { 
    background-color: #e5e5e5 !important;
    transform-origin: top left; /* 확대/축소 기준점 */
    transition: transform 0.5s ease; /* 부드러운 전환 효과 */
    overflow: auto;
}
.hidden { display:none; }
.show0 { z-index:1; display:block; }
.wrapperClass9 { position:'fixed'; padding: 0rem 0rem 0rem 0rem; top:0rem; left: 0rem; height:67.3rem; width:139.0rem;  }
.layout-main-container9 { z-index:1; position:'absolute'; padding: 1rem 0rem 0rem 1.5rem; top:1rem; left: 19rem; height: 65rem; width:124.5rem;  }
.layout-sidebar { z-index:1; position:'absolute'; padding: 1rem 0rem 0rem 1rem;  top: 1rem; left: 1rem; height:718px; overflow-x:hidden; box-shadow: none; border-radius: 0px;}
.p-tree { padding: 0rem 0rem 0rem 0rem; border: 0; }
.p-tree-content { margin: 0rem; padding: 0rem; }
.p-treenode .p-treenode-leaf { padding: 3px 0 3px 0 !important; }


button {
    background-color: #6366F1;
    border-radius: 3px !important;
    border:none;
    color:white;
    font-weight: 700;
    font-size: 1rem;
    cursor:pointer;
}

.p-treenode-icon {
    display: none;
}

.p-treenode span {
    font-weight: 650;
    font-size:12px !important;
}


.p-treenode .p-treenode-children span {
    font-weight: 400;
    color:#000397;
    font-size:11px !important;
}

.p-treenode .disabled {
    opacity: 0.5 !important;
    padding: 0 !important;
    font-weight: 200 !important;
    padding-left: 2px !important;
}

.p-menuitem-link {
    cursor:pointer;
}

.testEnvLabel {
    display:none;
}

.blink {
    background: yellow;
    animation: fadein 2s infinite;
}

.p-tree-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
    overflow-x: hidden;
}


@keyframes fadein {
    0%   { opacity: 1; }
    80%  { opacity: 0; }
    100% { opacity: 1; }
}

.p-tabmenu-nav li {
    flex: 0 0 auto; /* 모든 탭의 너비를 동일하게 */
    width: 133px; /* 원하는 고정 너비 설정 */
}

.p-tabmenu-nav li .p-menuitem-link {
    justify-content: center; /* 중앙 정렬 */
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link  {
    text-align: center;
}

/* Dialog Overlay (모달 배경) 조정 */
.p-dialog-mask {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    z-index: 1000; /* 필요에 따라 조정 */
}

.workingMrpIcon {
    display:none;
    margin-left: 10px;
}

.workingMrpIcon dotlottie-player {

}

.workingMrpIcon span {
    font-size: 0.8rem;
    font-weight: 600;
    vertical-align: middle;
    margin-top:6px;
    margin-left:5px;
    color:rgb(196, 10, 10);
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    padding: 13px 10px ;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
    color:#495057;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler {
    color:#495057;
}

div:where(.swal2-container).swal2-top, div:where(.swal2-container).swal2-center, div:where(.swal2-container).swal2-bottom {
    z-index: 1102;
}

div:where(.swal2-container).swal2-center>.swal2-popup {
    position: fixed !important;
    top: 33% !important;
    left: 38% !important;
    transform: translate(-50%, -50%) !important;
}

.p-tabview .p-tabview-panels {
    padding: 0 !important;
    background: #e5e5e5;
}

.p-tabview-nav li .p-button-sm {
    padding: 0;
    margin-right: 12px;
    font-size: 0.9rem;
}

.p-tabview-panels {
    padding: 0px;
    background: #fff;
}

.p-treenode-children li {
    height: 20px !important;
    margin-left: 10px;
}

.p-treenode-children .p-treenode-content button {
    display: none;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
    padding: 0 !important;
}

.p-tree-container {
    height: 530px;
    background-color: rgb(248, 249, 250);
}

.sidebar {
    height: 715px;
}

.tab-container {
    padding: 0 !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    margin-top: 6px;
    border-bottom-width: thick;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    margin-top: 6px;
    border-bottom-width: thick;
}


iframe {
    background-color: transparent !important;
    width: 1360px;
    height: 690px;
    overflow:auto;
}

.p-tabview-ink-bar {
    display: none !important;
}

.p-tabview .p-tabview-nav {
    width: 1341px;
    margin-top:0px;
    z-index: 1000;
    position: relative;
}

.p-tabview-nav li {
    width: 130px !important;
    height: 42px !important;
    margin-right: 1.5px !important;
    margin-left:1.5px !important
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 8px 3px 8px 3px;
}

/* TabPanel 컨테이너 스타일 조정 */
.p-tabview-panels {
    position: relative !important;
}

/* 각 TabPanel 내부 컨텐츠 기본 스타일 */
.p-hidden {
    position: absolute !important;
    display:block !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    transition: opacity 0.1s ease !important;
    z-index: 0 !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

/* 활성화된 탭에 대한 스타일 오버라이드 */
.p-tabview-panel[aria-hidden="false"] {
    z-index: 1 !important;
    opacity: 1 !important;
    pointer-events: auto !important; 
}
