/* 전체 애플리케이션에 Roboto 폰트 적용 */
body {
    font-family: 'Roboto', sans-serif;
}

/* PrimeReact 기본 컴포넌트 폰트 설정 */
.p-component {
    font-family: 'Roboto', sans-serif;
}

body { 
    overflow-y:hidden; 
    background-color: #e5e5e5 !important;
    transform-origin: top left; /* 확대/축소 기준점 */
    transition: transform 0.5s ease; /* 부드러운 전환 효과 */
    overflow: hidden; /* 스크롤 방지 */
}
.hidden { display:none; }
.show0 { z-index:1; display:block; }
.wrapperClass9 { position:'fixed'; padding: 0rem 0rem 0rem 0rem; top:0rem; left: 0rem; height:67.3rem; width:139.0rem;  }
.layout-main-container9 { z-index:1; position:'absolute'; padding: 1rem 0rem 0rem 1.5rem; top:1rem; left: 19rem; height: 65rem; width:124.5rem;  }
.layout-sidebar { z-index:1; position:'absolute'; padding: 1rem 0rem 0rem 1rem;  top: 1rem; left: 1rem; height:718px; overflow-x:hidden; box-shadow: none; border-radius: 0px;}
.p-tree { padding: 0rem 0rem 0rem 0rem; border: 0; }
.p-tree-content { margin: 0rem; padding: 0rem; }
.p-treenode .p-treenode-leaf { padding: 3px 0 3px 0 !important; }

iframe {
    background-color: transparent !important;
    width: 1360px;
}

#id11 {
    height: 680px;
    background-color: #e5e5e5 !important;
    z-index:999;
}

button {
    background-color: #6366F1;
    border-radius: 3px !important;
    border:none;
    color:white;
    font-weight: 700;
    font-size: 1rem;
    cursor:pointer;
}

.p-treenode-icon {
    display: none;
}

.p-treenode span {
    font-weight: 500;
}

.p-treenode .disabled {
    opacity: 0.7 !important;
    padding: 0 !important;
    font-weight: 300 !important;
    padding-left:18px !important;
}

.p-menuitem-link {
    cursor:pointer;
}

.testEnvLabel {
    display:none;
}

.blink {
    background: yellow;
    animation: fadein 2s infinite;
}

@keyframes fadein {
    0%   { opacity: 1; }
    80%  { opacity: 0; }
    100% { opacity: 1; }
}

.p-tabmenu-nav li {
    flex: 0 0 auto; /* 모든 탭의 너비를 동일하게 */
    width: 133px; /* 원하는 고정 너비 설정 */
}

.p-tabmenu-nav li .p-menuitem-link {
    justify-content: center; /* 중앙 정렬 */
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link  {
    text-align: center;
}

/* p-dialog를 중앙에 위치시키는 CSS */
.p-dialog {
    position: fixed !important;
    top: 33% !important;
    left: 38% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 1050; /* 필요에 따라 조정 */
}

/* Dialog Overlay (모달 배경) 조정 */
.p-dialog-mask {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    z-index: 1000; /* 필요에 따라 조정 */
}

.workingMrpIcon {
    display:none;
}

.workingMrpIcon dotlottie-player {
    position: absolute;
    top: 33%;            /* 세로 중앙 */
    left: 50%;           /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 정확한 중앙 배치 */
    z-index: 1000;
}

.workingMrpIcon span {
    position: absolute;
    top:  35%;            /* 세로 중앙 */
    left: 50%;           /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 정확한 중앙 배치 */
    z-index: 1000;
    font-size: 0.8rem;
    font-weight: 600;
}
